@{
}
<!DOCTYPE html>

<!-- HACKATHON HUAJUAPAN 2016 -->
<HTML lang="es">
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <TITLE>La voz de Huajuapan</TITLE>
    <!-- CSS  -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/full-slider.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/animate.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
</HEAD>


<!-- Inicio de Body -->
<BODY>


<!--  Barra de Navegacion -->
<div class="navbar-fixed-top" style="background-color: #039be5">
    <nav>
        <div class="navbar-fixed-top" style="background-color: #039be5">
            <a href="#" class="brand-logo center white-text page-scroll" style="align-content: center; font-size: x-large" > La voz de HUAJUAPAN</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="inicio.cshtml" class="white-text" style="font-size: medium;" > Inicio </a></li>
                <li><a href="reportar.cshtml" class="white-text" style="font-size: medium;" > Reportar </a></li>
                <li><a href="soluciones.cshtml" class="white-text" style="font-size: medium;"> Soluciones </a></li>
                <li class="active"><a href="propuestas.cshtml" class="white-text" style="font-size: medium;"> Propuestas </a></li>
                <li><a href="contacto.cshtml" class="white-text" style="font-size: medium;"> Contacto </a></li>
                <li><a href="index.cshtml" class="white-text" style="font-size: medium;">Cerrar Sesion </a></li>
            </ul>
        </div>
    </nav>
</div>


<div class="parallax-container valing-wrapper" id="home">
    <div class="row center">
        <h1 class="header col s12 light white-text"> <br><br><br><br><br> Espacio de Propuestas </h1>
    </div>
    <div class="parallax"><img src="img/teacher2.jpg" alt="fondo"></div>
</div>



<!-- Seccion 1 -->
<div class="section brown lighten-5" id="noticias_recientes"> <br>

    <h1 class="center-align" style="color: black; font-size: 50px"><img src="img/agenda.png">  Propuestas Recientes </h1> <br> <br>
    <h3 class="center-align" style="color: gray; font-size: 25px;"> Da click en cada tarjeta para conocer todos los comentarios de parte de la comunidad de Huajuapan. </h3>


    <div class="row">
        <div class="col s12 m2"> <p></p> </div> <!-- Clean Space-->

        <!--Noticia 1 -->
        <div class="col s12 m8">
            <ul class="collapsible popout" data-collapsible="expandable">

                <!-- Publicacion 1
                <li>
                    <div class="collapsible-header" style="font-size: 18px"> <strong> Nuevas ambulancias </strong></div>
                    <div class="collapsible-body"><p> Necesitamos presupuesto para comprar unidades medicas.Solo tenemos 2 ambulancias y &uacute;nicamente 1 unidad funcionando correctamente.
                        A parte que estan muy viejas. </p>
                                <a href="#welcome" type="button" class="btn btn-info btn-xl"> Comentar </a> <br>
                    </div>
                </li> -->


                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="img/avatar1.png" alt="" class="circle">
                        <span class="title"> <strong> Nuevas Ambulancias</strong></span> <br>
                        <p style="text-align: justify; font-size: small">
                            Necesitamos presupuesto para comprar unidades medicas.Solo tenemos 2 ambulancias y &uacute;nicamente 1 unidad funcionando correctamente.
                            A parte que estan muy viejas.
                        </p>
                        <p style="font-family: Merriweather; font-size: small"> posted by: <strong> Carlos123</strong></p>
                    </li>
                </ul>
                        <li>
                            <div class="collapsible-header" style="font-size: 16px"> <strong>Comentado por: </strong>Brandon Mejia</div>
                            <div class="collapsible-body"><p>Asi es!.</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-size: 16px"> <strong>Comentado por: </strong>Rafael Rodriguez</div>
                            <div class="collapsible-body"><p>Tambien opino lo mismo.</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-size: 16px"> <strong>Comentado por: </strong>Anonimo45</div>
                            <div class="collapsible-body"><p>Me parece una buena idea, deberiamos de convocar una junta entre nosotros </p>
                            </div>
                        </li>
                <br><br>

                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="img/avatar2.png" alt="" class="circle">
                        <span class="title"> <strong> Se debe construir una nueva biblioteca</strong></span> <br>
                        <p style="text-align: justify; font-size: small">
                            Necesitamos una nueva biblioteca y en especifico que sea digital para que las persones aprovechen su uso y funcionalidad, etc etc.
                        </p>
                        <p style="font-family: Merriweather; font-size: small"> posted by: <strong> Anais Lopez</strong></p>
                    </li>
                </ul>
                        <li>
                            <div class="collapsible-header" style="font-size: 16px"> <strong>Comentado por: </strong>Antonio Fernandez</div>
                            <div class="collapsible-body"><p>Cierto, mi hijo necesita un nuevo lugar donde estudiar y que cuenten con los recursos necesarios.</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-size: 16px"> <strong>Comentado por: </strong>Guillermo Perengano</div>
                            <div class="collapsible-body"><p>Me agradaria mucho la idea</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-size: 16px"> <strong>Comentado por: </strong>Fernanda3</div>
                            <div class="collapsible-body"><p> Ah! oc </p>
                            </div>
                        </li>
                <br><br>

                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="img/avatar3.png" alt="" class="circle">
                        <span class="title"><strong> Propuesta para construir una nueva carretera hacia San Allende </strong></span> <br>
                        <p style="text-align: justify; font-size: small">
                            Siempre han habido muchos accidentes en la carretera vieja, y necesitamos una remodelacion de la misma para acortar el tiempo y mas
                            que nada la seguridad de la poblacion
                        </p>
                        <p style="font-family: Merriweather; font-size: small"> posted by: <strong> Anonima32</strong></p>
                    </li>
                </ul>
                        <li>
                            <div class="collapsible-header" style="font-size: 16px"> <strong>Comentado por: </strong>El Rafa</div>
                            <div class="collapsible-body"><p>Estoy de acuerdo con esa idea, yo viajo diario por esa carretera</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-size: 16px"> <strong>Comentado por: </strong>Vanessa Urrutia</div>
                            <div class="collapsible-body"><p>La carretera esta muy fea, yo estoy a favor</p>
                            </div>
                        </li>




                <!-- Publicacion 2
                <li>
                    <div class="collapsible-header" style="font-size: 18px"> <strong> Se debe construir una nueva biblioteca </strong></div>
                    <div class="collapsible-body"><p>Necesitamos una nueva biblioteca y en especifico que sea digital para que las persones aprovechen su uso y funcionalidad, etc etc.</p>
                            <a href="#welcome" type="button" class="btn btn-info btn-xl"> Comentar </a> <br>
                    </div>
                </li> -->

                <!-- Publicacion 3
                <li>
                    <div class="collapsible-header" style="font-size: 18px"><strong> Propuesta para construir una nueva carretera hacia San Allende </strong></div>
                    <div class="collapsible-body"><p> Siempre han habido muchos accidentes en la carretera vieja, y necesitamos una remodelacion de la misma para acortar el tiempo y mas
                    que nada la seguridad de la poblacion</p>
                            <a href="#welcome" type="button" class="btn btn-info btn-xl"> Comentar </a> <br>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="col s12 m2"> <p></p> </div> <!-- Clean Space-->
    </div>

</div>


<!-- Footer -->
<footer class="page-footer  grey darken-2 wow fadeInUp" data-wow-delay=".3s">
    <div class="container">
        <div class="row">
            <div class="col l2 s12"> </div>
            <div class="col l6 s12" style="align-content: center">
                <!--<h1 style="font-size: 30px" class="white-text">Hackathon </h1> -->
                <img src="img/logo3.png" style="align-content: center;  font-size: xx-large"> <br>
                <p class="grey-text text-lighten-4" style="align-content: center;">Creciendo juntos por un mejor Futuro.</p>
            </div>
            <div class="col l4 s12">
                <h1 style="font-size: 25px" class="white-text"> ¡Ponte en contacto con nosotros! </h1>
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="align-content: center" ></span> </button> <br>
                <a href="mailto:ayuntamiento@huajuapan.com" style="font-size: 15px" class="white-text"> ayuntamiento@huajuapan.com </a>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Ayuntamiento de Huajuapan de Leon 2014-2016
        </div>
    </div>
</footer>




<!--  Scripts-->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/materialize.js"></script>
<script src="js/carousel.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/creative.js"></script> <!-- Creative para hacer el scroll de #id_seccion mas smooth-->
<script src="js/wow.min.js"></script> <!-- Script para utilizar animate.css y animar los scrollfires-->

<!-- Script contador likes-->
<script>
    function inc_count(id)
    {
        res = document.getElementById(id);
        res.value = parseInt(res.value)+1;
    }
</script>





</BODY>
</HTML>
