@{
}
<!DOCTYPE html>

<!-- HACKATHON HUAJUAPAN 2016 -->
<HTML lang="es">
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <TITLE>La voz de Huajuapan Inicio</TITLE>
    <!-- CSS  -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/full-slider.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/animate.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</HEAD>


<!-- Inicio de Body -->
<BODY>

<!--  Barra de Navegacion -->
<div class="navbar-fixed-top" style="background-color: #00796b">
    <nav>
        <div class="navbar-fixed-top" style="background-color: #00796b">
            <a href="#" class="brand-logo center white-text page-scroll" style="align-content: center; font-size: x-large" > La voz de HUAJUAPAN</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="inicio.cshtml" class="white-text" style="font-size: medium;" > Inicio </a></li>
                <li><a href="reportar.cshtml" class="white-text" style="font-size: medium;" > Reportar </a></li>
                <li class="active"><a href="soluciones.cshtml" class="white-text" style="font-size: medium;"> Soluciones </a></li>
                <li><a href="propuestas.cshtml" class="white-text" style="font-size: medium;"> Propuestas </a></li>
                <li><a href="contacto.cshtml" class="white-text" style="font-size: medium;"> Contacto </a></li>
                <li><a href="index.cshtml" class="white-text" style="font-size: medium;">Cerrar Sesi&oacute;n </a></li>
            </ul>
        </div>
    </nav>
</div>


<!-- Soluciones-->

<div class="section white" id="noticias_importantes"> <br> <br> <br> <br>
    <h1 class="center-align" style="color: black; font-size: 60px"><alt img src="img/solution.png"> Problem&aacute;ticas Resueltas  </h1> <br> <br>


    <!-- Soluci&oacute;n 1 -->
    <div class="row">
        <div class="col s12 m2">.</div> <!-- Clean Space -->

        <!-- Espacio Texto -->
        <div class="col s12 m8">
            <div class="container">
                <div class="jumbotron">
                    <h1 style="font-size: 35px"> <i><center>"Un bache menos en Huajuapan"</center> </i></h1>
                    <img class="materialboxed" data-caption="El Presidente Municipal de Huapan de Le&oacute;n hablando sobre las soluciones a las problem&aacute;ticas actuales
                            dentro de la localidad y como afecta la nueva aplicaci&oacute;n m&oacute;vil en la sociedad." width="500" src="img/delegado1.jpg"
                            style="margin: 0px auto; display: block"> <br>
                    <p align="justify">El pasado d&iacute;a 12 de Febrero, me encargue junto con mi cuerpo de ayuda del municipio, de tapar el siguiente "bache" que habia presentado anomalias e inconformidades de
                    los habitantes de Huajuapan. </p>
                    <p>Resuelto por: <b> Luis de Guadalupe Mart&iacute;nez Ram&iacute;rez</b> (Presidente Municipal de Huajuapan). </p>
                    <p><a href="inicio.cshtml"> Ver Problem&aacute;tica </a> </p>
                </div>
            </div>
        </div>
        <div class="col s12 m2"> </div> <!-- Clean Space -->
    </div>


    <!-- Soluci&oacute;n 2 -->
    <div class="row">
        <div class="col s12 m2">. </div> <!-- Clean Space -->


        <!-- Espacio Texto -->
        <div class="col s12 m8">
            <div class="container">
                <div class="jumbotron">
                    <h1 style="font-size: 35px"> <i> <center> "Entregamos silla de ruedas"</center> </i></h1>
                    <img class="materialboxed" data-caption="Foto del candidato del partido: PAN. Entregando una silla de ruedas  nueva al se&ntilde;or Victor Villa Gomez" width="500" src="img/delegado2.jpg"
                         style="margin: 0px auto; display: block"> <br>
                    <p align="justify">El pasado d&iacute;a 12 de Febrero, el se&ntilde;or "Victor Villa G&oacute;mez" sufri&oacute; un percanse al estar realizando sus actividades diarias, en donde su silla de ruedas fue accidentalmente
                    arrollada por un taxi local. Fu&eacute; as&iacute; como las autoridades dieron respuesta inmediata y se comprometieron a proporcionale una nueva silla de ruedas totalmente gratuita.</p>
                    <p>Resuelto por: <b> Brandon Mej&iacute;a Mart&iacute;nez</b> (Candidato a Presidente Municipal de Huajuapan). </p>
                    <p><a href="inicio.cshtml"> Ver Problem&aacute;tica </a> </p>
                </div>
            </div>
        </div>
        <div class="col s12 m2"> </div> <!-- Clean Space -->
    </div>

</div>




<!-- Footer -->
<footer class="page-footer  grey darken-2 wow fadeInUp" data-wow-delay=".3s">
    <div class="container">
        <div class="row">
            <div class="col l2 s12"> </div>
            <div class="col l6 s12" style="align-content: center">
                <!--<h1 style="font-size: 30px" class="white-text">Hackathon </h1> -->
                <img src="img/logo3.png" style="align-content: center;  font-size: xx-large"> <br>
                <p class="grey-text text-lighten-4" style="align-content: center;">Creciendo juntos por un mejor Futuro.</p>
            </div>
            <div class="col l4 s12">
                <h1 style="font-size: 25px" class="white-text"> ¡Ponte en contacto con nosotros! </h1>
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="align-content: center" ></span> </button> <br>
                <a href="mailto:ayuntamiento@huajuapan.com" style="font-size: 15px" class="white-text"> ayuntamiento@huajuapan.com </a>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Ayuntamiento de Huajuapan de Le&oacute;n 2014-2016
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/materialize.js"></script>
<script src="js/carousel.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/creative.js"></script> <!-- Creative para hacer el scroll de #id_seccion mas smooth-->
<script src="js/wow.min.js"></script> <!-- Script para utilizar animate.css y animar los scrollfires-->

<!-- Script contador likes-->
<script>
    function inc_count(id)
    {
        res = document.getElementById(id);
        res.value = parseInt(res.value)+1;
    }
</script>

</BODY>
</HTML>

