@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:350px">
    <div class="col-md-6">
        <h1>Medical App</h1>
        <p class="lead">Medical App es la tecnología que puede mejorar la capacidad de respuesta frente a emergencias, mejorando la comunicación y tiempo de acción.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Ver mas »</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/logo.png" alt="usuarios" class="img-responsive" style="padding-left: 120px">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/images/usuario.png" alt="usuarios" class="img-responsive" style="padding-left: 50px">
        <h2>Usuarios</h2>
        <p>Crea, administra y asigna roles a tus usuarios dependiendo de su función.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/configuracion.png" alt="usuarios" class="img-responsive" style="padding-left: 50px">
        <h2>Configura</h2>
        <p>Configura tu sistema para poder hacer cosas de forma más sencilla e intuitiva.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/libro.png" alt="usuarios" class="img-responsive" style="padding-left: 50px">
        <h2>Manual</h2>
        <p>Revisa el manual para mas información, aclara y soluciona cualquier duda.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver mas &raquo;</a></p>
    </div>
</div>